/* ----- COMMON STYLES ----- */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #eeeeee;
}

.icon {
  width: 16px;
  height: 16px;
}

.hidden {
  display: none !important;
}

/* ----- HEADER ----- */

header {
  display: flex;
  align-items: center;
  padding: 0 8px;
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;
}

header > img {
  width: 40px;
  height: 40px;
  padding: 8px;
}

header > h1 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #656565;
  padding: 10px 8px;
  margin-right: auto;
}

header > h1.highlighted {
  color: #017ef8;
}

@media only screen and (min-width: 768px) {
  header {
    padding: 4px 64px;
    border-bottom: 1px solid #dddddd;
  }
}

/* ----- MOBILE NAVIGATION BAR ----- */

#mobile-navigation-bar {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: #ffffff;
  border-top: 1px solid #dddddd;
}

#mobile-navigation-bar > img {
  width: 44px;
  height: 44px;
  margin: 8px;
  padding: 8px;
  border-radius: 50%;
  transition: background-color 0.2s ease-out;
}

#mobile-navigation-bar > img:hover, #mobile-navigation-bar > img:active {
  background-color: #eeeeee;
}

@media only screen and (min-width: 768px) {
  #mobile-navigation-bar {
    display: none;
  }
}

/* ----- POST - CONTAINER ----- */

.post-container {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  background-color: #ffffff;
  padding: 14px 16px;
}

/* ----- POST - HEADER ----- */

.post-header {
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post-header-profile {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #eeeeee;
}

.post-header-profile > img:not(.icon) {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.post-header-username {
  font-size: 14px;
  font-weight: 600;
  padding: 6px 12px;
}

.post-header-timestamp {
  font-size: 14px;
  color: #cccccc;
  margin-left: auto;
}

/* ----- POST - CONTENT ----- */

.post-content {
  display: flex;
  flex-direction: column;
  margin: 14px 0;
}

.post-content > p {
  font-size: 14px;
}

.post-content > img {
  max-width: 100%;
  max-height: 300px;
  object-fit: contain;
}

.post-content > *:nth-child(2) {
  padding-top: 16px;
}

/* ----- POST - ACTIONS ----- */

.post-actions {
  height: 32px;
  display: flex;
  flex-direction: row;
}

.post-actions > .post-actions-item {
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 7px;
  border: 1px solid #eeeeee;
  border-radius: 16px;
  margin-right: 8px;
}

.post-actions > .post-actions-item > p {
  padding-left: 4px;
  font-size: 14px;
}

.post-actions > .remove {
  margin-left: auto;
  margin-right: 0;
}

/* ----- FORMS ----- */

.forms {
  display: flex;
  flex-direction: column;
  padding: 32px 0;
}

.forms > h2 {
  font-size: 20px;
  color: #585858;
  font-weight: 600;
}

.forms > input {
  color: #585858;
  padding: 16px;
  font-size: 14px;
  margin: 24px 8px 0 8px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 1px 5px 0 #00000027;
}

.forms > textarea {
  resize: none;
  border: none;
  color: #585858;
  margin: 24px 8px 0 8px;
  border-radius: 5px;
  padding: 12px 16px;
  box-shadow: 0 1px 5px 0 #00000027;
}

.forms > button {
  margin: 32px 8px 0 8px;
  border: none;
  padding: 16px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #ffffff;
  border-radius: 5px;
  background-color: #017ef8;
  box-shadow: 0 0 5px 0 #017ef869;
  transition: background-color 0.1s;
}

.forms > button:active {
  background-color: #0866c9;
  box-shadow: 0 0 5px 0 #0866c969;
}

.forms > button.danger {
  background-color: #d70000;
  box-shadow: 0 0 5px 0 #d7000088;
}

.forms > button.danger:active {
  background-color: #a40d0d;
  box-shadow: 0 0 5px 0 #af1a1a87;
}

.forms > p {
  font-size: 14px;
  margin-top: 32px;
  text-align: center;
}

.forms > p > a {
  color: #017ef8;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
