/* ----- HOME PAGE STYLES ----- */

.home-page {
  flex: 1;
  background-color: #eeeeee;
}

.home-posts {
  margin-bottom: 48px;
}

@media only screen and (min-width: 768px) {
  .home-posts {
    display: grid;
    padding: 16px;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
}
