/* ----- HOME STYLES ----- */

.home-page {
  flex: 1;
  background-color: #eeeeee;
}

.home-posts {
  margin-bottom: 48px;
}

/* ----- MOBILE NAVIGATION ----- */

#mobile-nav {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: #ffffff;
  border-top: 1px solid #dddddd;
}

#mobile-nav > img {
  width: 44px;
  height: 44px;
  margin: 8px;
  padding: 8px;
  border-radius: 50%;
  transition: background-color 0.2s ease-out;
}

#mobile-nav > img:hover, #mobile-nav > img:active {
  background-color: #eeeeee;
}
