/* ----- NEW POST PAGE STYLES ----- */

.new-post-page {
  flex: 1;
  overflow-y: auto;
  background-color: #ffffff;
}

.new-post-container {
  padding: 32px 16px;
  margin-bottom: 48px;
  background-color: #ffffff;
}

@media only screen and (min-width: 768px) {
  .new-post-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eeeeee;
  }
  .new-post-container {
    width: 500px;
    margin: 32px;
    padding: 32px;
    border-radius: 5px;
    border: 1px solid #dddddd;
  }
}
