/* ----- SETTINGS STYLES ----- */

.settings-page {
  background-color: #ffffff;
  flex: 1;
  overflow-y: auto;
}

.settings-container {
  padding: 16px 32px;
  margin-bottom: 48px;
  background-color: #ffffff;
}

span {
  align-items: center;
  background-color: seagreen;
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 darkgreen;
  color: #eeeeee;
  display: flex;
  justify-self: center;
  margin: auto;
  padding: 2%;
  position: sticky;
  top: 1%;
  width: fit-content;
}

.hidden {
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
  visibility: hidden;
}

.visible {
  opacity: 1;
  transition: opacity 1s linear;
  visibility: visible;
}

#deleteButton {
  background-color: #d70000;
  box-shadow: 0 0 5px 0 #d70000B5;
  font-weight: bold;
}
