/* ----- SETTINGS STYLES ----- */

.settings-page {
  background-color: #ffffff;
  flex: 1;
  overflow-y: auto;
}

.settings-container {
  padding: 16px 32px;
  margin-bottom: 48px;
  background-color: #ffffff;
}

#saved {
  align-items: center;
  background-color: #2e8b57;
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 #2e8b579d;
  color: #ffffff;
  display: flex;
  justify-self: center;
  margin: auto;
  font-size: 16px;
  position: sticky;
  top: 1%;
  width: fit-content;
  opacity: 0;
  visibility: hidden;
  height: 0;
  padding: 0;
  transition: opacity 0.5s linear, padding 0s 0.5s, height 0s 0.5s, visibility 0s 0.5s;
}

#saved.visible {
  height: 34px;
  opacity: 1;
  visibility: visible;
  padding: 6px 16px;
  transition: opacity 0.5s linear, height 0s;
}

#deleteButton {
  background-color: #d70000;
  box-shadow: 0 0 5px 0 #d7000088;
  font-weight: bold;
}
