/* ----- VIEW POST PAGE STYLES ----- */

.view-post-page {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  background-color: #eeeeee;
}

.view-post-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#comment-holder {
  flex: 1;
}

@media only screen and (min-width: 768px) {
  .view-post-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eeeeee;
  }
  .view-post-container {
    flex: 0;
    display: block;
    width: 700px;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    background-color: #ffffff;
    margin: 32px;
  }
  .post-container {
    margin: 8px;
  }
  #new-comment-container {
    margin-top: 0 !important;
    border-radius: 0 0 5px 5px;
  }
}

/* ----- NEW COMMENT ----- */

#new-comment-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: sticky;
  bottom: 0;
  align-items: center;
  margin-top: 12px;
  padding: 10px 16px;
  background-color: #ffffff;
  border-top: 1px solid #eeeeee;
}

#new-comment-profile {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #eeeeee;
}

#new-comment-profile > img:not(.icon) {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

#new-comment-container > input {
  flex: 1;
  border: none;
  padding: 0 16px;
}

#new-comment-container > button {
  font-size: 14px;
  color: #656565;
  border: none;
  background-color: transparent;
}

#new-comment-container > button.disabled {
  color: #eeeeee;
}

/* ----- COMMENT CONTAINER ----- */

.comment-container {
  display: flex;
  flex-direction: row;
  padding: 10px 16px;
  border-top: 1px solid #eeeeee;
  background-color: #ffffff;
}

/* ----- COMMENT PROFILE ----- */

.comment-profile {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #eeeeee;
}

.comment-profile > img:not(.icon) {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

/* ----- COMMENT CONTENT ----- */

.comment-content {
  flex: 1;
  font-size: 14px;
  padding: 0 16px;
}

.comment-content > p {
  display: inline;
}

.comment-content > p:first-child {
  font-weight: 600;
  padding-right: 4px;
}

/* ----- COMMENT ACTIONS ----- */

.comment-actions {
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: row;
}

.comment-actions > img {
  width: 32px;
  height: 32px;
  padding: 0 7px;
  border-radius: 16px;
  border: 1px solid #eeeeee;
}
